@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    
    --fonte--principal: "Inter", sans-serif;

    --cor--fundo: #E5E5E5;
    --cor--titulo: #0A3871;
    --cor--paragrafo: #495057;
    --cor--tituloresultado: #343A40;
    --cor--retangulo: #FFFFFF;
    --cor--botao--des: #D8DFE8; 
}


*{
    background-color: var(--cor--fundo);
    font-family: var(--fonte--principal);
    font-weight: 400;
    line-height: 150%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logoalura{
    margin-left: 25px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.apresentacao__conteudo__textarea{
    border: none;
    font-size: 32px;
    color: var(--cor--titulo);
    margin-top: 170px;
    text-transform: lowercase;
}

::placeholder{color: var(--cor--titulo);}
    .apresentacao__conteudo__textarea:focus{
        outline: none;
    }

.container__mensagem__textarea{
    background: var(--cor--retangulo);
    font-size: 32px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: var(--cor--paragrafo);
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.container__mensagem__textarea:focus{outline: none;}

.container__botoes{
    display: flex;
    margin-top: 18px;
}

.container__botao__descriptografia{
    background: var(--cor--botao--des);
    border: 1px solid var(--cor--titulo);
    border-radius: 24px;
    color: var(--cor--titulo);
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 16px;
}

.container__botao__criptografia{
    background: var(--cor--titulo);
    border: 1px solid var(--cor--titulo);
    border-radius: 24px;
    color: var(--cor--retangulo);
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 16px;
}

.container__mensagem__botao{
    border: 1px solid var(--cor--titulo);
    border-radius: 24px;
    color: var(--cor--titulo);
    cursor: pointer;
    height: 67px;
    margin-left: 125px;
    margin-top: 402px;
    width: 336px;
    font-size: 16px;
    position: relative;
}


.apresentacao__informacao{
    color: var(--cor--paragrafo);
    font-size: 18px;
}
